<a href="https://colab.research.google.com/github/flickmatch/home/blob/main/Chat_mining_scripts/extract_data_from_whatsapp_group.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
from google.colab import  drive
from collections import Counter
import pandas as pd
drive.mount('/drive')

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).

Click on "Add a Shortcut to Drive" on the folder https://drive.google.com/drive/folders/1vIK3q8eZhyShY1RzNPZv7389Vt_JaEXX before running this code.

In [ ]:
f = open("/drive/My Drive/Whatsapp-group-chats/Baller's-Arena.txt", "r")
whatsapp_chat = f.read()

In [ ]:
import re
matches = re.findall(r"\+?\s*\d+\s*\d*\s*\d*",whatsapp_chat)

In [ ]:
from tqdm import tqdm
new_nums=[]
for num in tqdm(matches):
  if(len(num)>9):
    num=num.replace('\xa0',' ')
    num=num.replace('\n','')
    new_nums.append(num)
len(new_nums)

100%|██████████| 3032/3032 [00:00<00:00, 1971342.39it/s]

195

In [19]:
newdict=Counter(new_nums)

In [20]:
d=pd.DataFrame(newdict.items())
d

                  0   1
0   +91 82913 35516   7
1   +91 77385 45733   4
2   +91 81305 74857  11
3   +91 98717 92455   2
4   +91 83688 64845  11
..              ...  ..
68  +91 86067 16640   2
69  +91 99723 33652   2
70    919810446550    1
71  +91 88603 63698   3
72  +91 98999 74438   4

[73 rows x 2 columns]

Add output location for table generated

In [ ]:
with open('/drive/My Drive/extract-data-from-whatsapp-group-output.csv', 'w') as f:
  d.to_csv(f)